<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Articule</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%-include("partials/navbar.ejs")%>

    <div class="background-img d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="text-center text-white">
          <h1><%= article.title%></h1>
          <em><%=article.createdAt%></em>
        </div>
      </div>
    </div>
    <!-- prettier-ignore -->
    <div class="container py-5">
      <p class="fs-2"><%= article.content %></p>
    </div>

    <% if (permisson=== true) {%> <%-include("partials/comments.ejs")%> <%} %>

    <!-- prettier-ignore-end -->
    <%-include("partials/footer.ejs")%>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/5bed63e9a2.js" crossorigin="anonymous"></script>
  </body>
</html>
